html{
    width: fit-content;
}
body{
    background-color: lightblue;
}
.videoPlayingBox{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
}
.playVideoHere{
    width: 70%;
    z-index: 1 !important;
}
.clickableImage{
    padding: 0%;
    border: 0;
    width: 100%;
}
.clickableImage, .theClickableImage{
    border-radius: 5%;
}
.theClickableImage{
    width: 100%;
}
.mediaBox{
    width: 25%;
}
video{
    width: 100%;
    z-index: 1 !important;
}